<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION"/>
    <uses-permission android:name="Manifest.permission.POST_NOTIFICATIONS"/>

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许获取粗略位置，若用GPS实现定位小蓝点功能则必选-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!--允许获取设备和运营商信息，用于问题排查和网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许获取网络状态，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许获取wifi网络信息，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许获取wifi状态改变，用于网络定位，若无gps但仍需实现定位小蓝点功能则此权限必选-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault" >

<!--        高德地图Key-->
        <meta-data android:name="com.amap.api.v2.apikey"
            android:value="df95ae2f3d97ab21f0da423e22a43560"/>

        <activity android:name="rw.qtopie.dragonradar.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WearAppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="rw.qtopie.dragonradar.navi.DragonRouteActivity"
            android:theme="@style/WearAppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />

        <activity
            android:name="rw.qtopie.dragonradar.navi.HelloBikeNaviActivity"
            android:launchMode="singleTask"
            android:theme="@style/WearAppTheme"
            android:configChanges="orientation|keyboardHidden|screenSize|navigation" />

        <service android:name="com.amap.api.location.APSService" />

        <service
            android:name=".navi.DragonRadarNaviService"
            android:foregroundServiceType="location"
            android:exported="false">
        </service>

    </application>

</manifest>